:root {
  --color-light-red: #E31C25;
  --color-dark-red: #BB000E;
  --color-white: #ffffff;
  --color-light-black: #222;
  --color-dark-black: #161616;
  --font-family: 'Roboto', sans-serif;
  --color-gray: #808080;
}

body {
    background-color: var(--color-light-black);
    font-family: var(--font-family);
}

.App {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.App.auth-view {
  display: flex;
  justify-content: center;
  align-items: center;
}